@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";

@theme inline {
  --color-primary: oklch(1.00 0 0);
  --color-primary-foreground: oklch(0 0 0);

  --color-secondary: oklch(0.25 0 0);
  --color-secondary-foreground: oklch(1.00 0 0);

  --color-background: oklch(0 0 0);
  --color-foreground: oklch(1.00 0 0);

  --color-accent: oklch(0.32 0 0);
  --color-accent-foreground: oklch(1.00 0 0);

  --color-card: oklch(0.14 0 0);
  --color-card-foreground: oklch(1.00 0 0);

  --color-popover: oklch(0.18 0 0);
  --color-popover-foreground: oklch(1.00 0 0);

  --color-muted: oklch(0.23 0 0);
  --color-muted-foreground: oklch(0.72 0 0);

  --color-destructive: oklch(0.69 0.20 23.91);
  --color-destructive-foreground: oklch(0 0 0);

  --color-border: oklch(0.26 0 0);
  --color-input: oklch(0.32 0 0);
  --color-ring: oklch(0.72 0 0);

  --color-chart-1: oklch(0.81 0.17 75.35);
  --color-chart-2: oklch(0.58 0.21 260.84);
  --color-chart-3: oklch(0.56 0 0);
  --color-chart-4: oklch(0.44 0 0);
  --color-chart-5: oklch(0.92 0 0);

  --color-sidebar: oklch(0 0 0);
  --color-sidebar-foreground: oklch(1.00 0 0);
  --color-sidebar-primary: oklch(1.00 0 0);
  --color-sidebar-primary-foreground: oklch(0 0 0);
  --color-sidebar-accent: oklch(0.32 0 0);
  --color-sidebar-accent-foreground: oklch(1.00 0 0);
  --color-sidebar-border: oklch(0.26 0 0);
  --color-sidebar-ring: oklch(0.72 0 0);
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}